<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{%- seo -%}
<link rel="preload" href="{{ '/assets/main.css' | relative_url }}" as="style">
{%- if page.url != "/" -%}
<link ref="preload" href="https://gcqd.fr" as="document">
{%- endif -%}
<link ref="preconnect" href="https://rsms.me">
<link ref="dns-prefetch" href="https://rsms.me">
<link ref="preconnect" href="https://raw.githubusercontent.com">
<link ref="dns-prefetch" href="https://raw.githubusercontent.com">
<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
<link rel="shortcut icon" type="image/svg+xml" href="{{ '/assets/images/logo/favicon.svg' | relative_url }}">
{%- feed_meta -%}
</head>
