<figure class="image with-caption">
<picture>
{% for format in site.data.mime.types.images %}
<source srcset="{{ include.name | relative_url }}.{{ format.ext }}" type="image/{{ format.type }}">
{% endfor %}
<img src="{{ include.name | relative_url }}.png" {% if include.alt != nil %}alt="{{ include.alt | escape }}"{% endif %} loading="lazy">
</picture>
{% if include.caption != nil %}
<figcaption>{{ include.caption | escape }}</figcaption>
{% else if include.alt != nil %}
<figcaption>{{ include.alt | escape }}</figcaption>
{% endif %}
</figure>
