<figure class="video no-caption">
    <video {% if include.autoplay == true %}autoplay{% endif %}
        {% if include.loop == true %}loop{% endif %}
        {% if include.muted == true %}muted{% endif %}
        {% if include.controls == true %}controls{% endif %}
        {% if include.alt != nil %}alt="{{ include.alt | escape }}"{% endif %} width="100%">
        {% for format in site.data.mime.types.video %}
        <source src="{{ include.name }}.{{ format.ext }}" type="video/{{ format.type }}">
        {% endfor %}
    </video>
    {% if include.alt != nil %}
    <figcaption class="screen-reader-text">{{ include.alt | escape }}</figcaption>
    {% endif %}
</figure>
