@charset "utf-8";

// Width of the content area
$content-width: 800px !default;

$on-palm: 480px !default;
$on-laptop: 600px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: calc(var(--spacing-unit) / 20;
//     padding-left: calc(var(--spacing-unit) / 20;
//   }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials.
@import "aemi/base",
"aemi/layout",
"aemi/syntax-highlighting"
;
