---
layout: default
---

<article class="entry contained" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="entry-header">

        {% if page.thumbnail %}
        <div class="entry-thumbnail">
            <img src="/assets/images/thumbnails{{ page.thumbnail | relative_url }}.svg" alt="{{ page.title }}" />
        </div>
        {% endif %}
        
        <div class="entry-info {% if post.thumbnail %}with-thumbnail{% endif %}">
            {%- assign date_format = site.aemi.date_format | default: "%b %-d, %Y" -%}
            <div class="entry-meta">
                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                  {%- assign date_format = site.aemi.date_format | default: "%b %-d, %Y" -%}
                  {{ page.date | date: date_format }}
                </time>
                {%- if page.author -%}
                  —&#20;<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
                {%- else if page.authors -%}
                    —&#20;
                    {%- for author in page.authors -%}
                        {%- if forloop.index != 1 -%}
                            , <span itemprop="co-author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author }}</span></span>
                        {%- else -%}
                            <span itemprop="co-author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author }}</span></span>
                        {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}
            </div>
            <h1 class="entry-title" itemprop="name headline">{{ page.title | escape }}</h1>
        </div>

    </header>

    <main class="entry-content" itemprop="articleBody">
        {{ content }}
    </main>
    
    <footer>
    </footer>

</article>
