@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src:url("/assets/font-files/Inter-Thin.woff2") format("woff2"),
        url("/assets/font-files/Inter-Thin.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-Thin.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Thin.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/assets/font-files/Inter-ThinItalic.woff2") format("woff2"),
        url("/assets/font-files/Inter-ThinItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-ThinItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-ThinItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-Thin.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-Thin.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-Thin.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Thin.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-ThinItalic.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-ThinItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-ThinItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-ThinItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/assets/font-files/Inter-ExtraLight.woff2") format("woff2"),
        url("/assets/font-files/Inter-ExtraLight.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-ExtraLight.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/assets/font-files/Inter-ExtraLightItalic.woff2") format("woff2"),
        url("/assets/font-files/Inter-ExtraLightItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-ExtraLightItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-ExtraLightItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-ExtraLight.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-ExtraLight.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-ExtraLight.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-ExtraLightItalic.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-ExtraLightItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-ExtraLightItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-ExtraLightItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/font-files/Inter-Light.woff2") format("woff2"),
        url("/assets/font-files/Inter-Light.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-Light.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Light.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/font-files/Inter-LightItalic.woff2") format("woff2"),
        url("/assets/font-files/Inter-LightItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-LightItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-LightItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-Light.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-Light.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-Light.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Light.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-LightItalic.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-LightItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-LightItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-LightItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/font-files/Inter-Regular.woff2") format("woff2"),
        url("/assets/font-files/Inter-Regular.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-Regular.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/font-files/Inter-Italic.woff2") format("woff2"),
        url("/assets/font-files/Inter-Italic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-Italic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Italic.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-Regular.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-Regular.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-Regular.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Regular.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-Italic.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-Italic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-Italic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Italic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/font-files/Inter-Medium.woff2") format("woff2"),
        url("/assets/font-files/Inter-Medium.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-Medium.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Medium.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/font-files/Inter-MediumItalic.woff2") format("woff2"),
        url("/assets/font-files/Inter-MediumItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-MediumItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-Medium.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-Medium.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-Medium.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Medium.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-MediumItalic.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-MediumItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-MediumItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/font-files/Inter-SemiBold.woff2") format("woff2"),
        url("/assets/font-files/Inter-SemiBold.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/font-files/Inter-SemiBoldItalic.woff2") format("woff2"),
        url("/assets/font-files/Inter-SemiBoldItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-SemiBoldItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-SemiBold.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-SemiBold.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-SemiBold.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-SemiBoldItalic.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-SemiBoldItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-SemiBoldItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/font-files/Inter-Bold.woff2") format("woff2"),
        url("/assets/font-files/Inter-Bold.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-Bold.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Bold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/font-files/Inter-BoldItalic.woff2") format("woff2"),
        url("/assets/font-files/Inter-BoldItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-BoldItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-Bold.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-Bold.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-Bold.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Bold.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-BoldItalic.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-BoldItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-BoldItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/assets/font-files/Inter-ExtraBold.woff2") format("woff2"),
        url("/assets/font-files/Inter-ExtraBold.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-ExtraBold.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("/assets/font-files/Inter-ExtraBoldItalic.woff2") format("woff2"),
        url("/assets/font-files/Inter-ExtraBoldItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-ExtraBoldItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-ExtraBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-ExtraBold.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-ExtraBold.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-ExtraBold.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-ExtraBoldItalic.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-ExtraBoldItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-ExtraBoldItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-ExtraBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/assets/font-files/Inter-Black.woff2") format("woff2"),
        url("/assets/font-files/Inter-Black.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-Black.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Black.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/assets/font-files/Inter-BlackItalic.woff2") format("woff2"),
        url("/assets/font-files/Inter-BlackItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/Inter-BlackItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-BlackItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-Black.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-Black.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-Black.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Black.woff") format("woff");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-BlackItalic.woff2") format("woff2"),
        url("/assets/font-files/InterDisplay-BlackItalic.woff") format("woff"),
        url("https://rsms.me/inter/font-files/InterDisplay-BlackItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-BlackItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter Var";
    font-weight: 100 900;
    font-style: normal;
    font-named-instance: "Regular";
    font-display: swap;
    src: url("/assets/font-files/Inter-roman.var.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-roman.var.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Var";
    font-weight: 100 900;
    font-style: italic;
    font-named-instance: "Italic";
    font-display: swap;
    src: url("/assets/font-files/Inter-italic.var.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-italic.var.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display Var";
    font-weight: 100 900;
    font-style: normal;
    font-named-instance: "Regular";
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-roman.var.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-roman.var.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display Var";
    font-weight: 100 900;
    font-style: italic;
    font-named-instance: "Italic";
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-italic.var.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-italic.var.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Var Alt";
    font-weight: 100 900;
    font-style: normal;
    font-named-instance: "Regular";
    font-display: swap;
    src: url("/assets/font-files/Inter-roman.var.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-roman.var.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Var Alt";
    font-weight: 100 900;
    font-style: italic;
    font-named-instance: "Italic";
    font-display: swap;
    src: url("/assets/font-files/Inter-italic.var.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-italic.var.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display Var Alt";
    font-weight: 100 900;
    font-style: normal;
    font-named-instance: "Regular";
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-roman.var.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-roman.var.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display Var Alt";
    font-weight: 100 900;
    font-style: italic;
    font-named-instance: "Italic";
    font-display: swap;
    src: url("/assets/font-files/InterDisplay-italic.var.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-italic.var.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Var Exp";
    font-weight: 100 900;
    font-style: oblique 0deg 10deg;
    font-display: swap;
    src: url("/assets/font-files/Inter.var.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter.var.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display Var Exp";
    font-weight: 100 900;
    font-style: oblique 0deg 10deg;
    font-display: swap;
    src: url("/assets/font-files/InterDisplay.var.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay.var.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-Thin.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-ThinItalic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-ThinItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-ExtraLight.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-ExtraLightItalic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-Light.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-LightItalic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-Regular.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-Italic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-Medium.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-MediumItalic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-Bold.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-BoldItalic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-ExtraBold.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/font-files/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

:root {

    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;

    // Font Kerning
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;

	text-rendering: optimizeLegibility;
    font-optical-sizing: auto;

    // Font Size Adjust
    -webkit-font-size-adjust: 100%;
    font-size-adjust: 100%;

    // Font Smoothing
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    font-smooth: auto;

    font-variant-ligatures: contextual common-ligatures discretionary-ligatures;

    hyphens: auto;
    letter-spacing: -0.011em;

	vertical-align: baseline;
	word-spacing: normal;
}
