/**
 * Syntax highlighting styles
 */
pre.highlight {

    --syntax-accent: #ff9940;
    --syntax-background: #fafafa;
    --syntax-foreground: #6c7680;
    --syntax-ui: #959da6;
    --syntax-tag: #55b4d4;
    --syntax-func: #f2ae49;
    --syntax-entity: #399ee6;
    --syntax-string: #86b300;
    --syntax-regexp: #4cbf99;
    --syntax-markup: #f07171;
    --syntax-keyword: #fa8d3e;
    --syntax-special: #e6ba7e;
    --syntax-comment: #abb0b6;
    --syntax-constant: #a37acc;
    --syntax-operator: #ed9366;
    --syntax-error: #f51818;

    color: var(--syntax-foreground);
    background: var(--background-color-lighten);
    @extend %vertical-rhythm;

    .highlighter-rouge & {
        background: var(--background-color-lighten);
    }

    /* Comment */
    .c {
        color: var(--syntax-comment);
        font-style: italic;
    }

    /* Error */
    .err {
        color: var(--syntax-background);
        background-color: var(--syntax-error);
    }


    .g { color:var(--syntax-generic) } /* Generic */

    /* Keyword */
    .k {
        color: var(--syntax-keyword)
    }
    // .l { color: #93a1a1 } /* Literal */
    // .n { color: #93a1a1 } /* Name */
    .o {
        color: var(--syntax-operator)
    }

    /* Operator */
    // .x { color: #cb4b16 } /* Other */
    // .p { color: #93a1a1 } /* Punctuation */
    .cm {
        color: var(--syntax-comment)
    }

    /* Comment.Multiline */
    .cp {
        color: var(--syntax-comment)
    }

    /* Comment.Preproc */
    .c1 {
        color: var(--syntax-comment)
    }

    /* Comment.Single */
    .cs {
        color: var(--syntax-special)
    }

    /* Comment.Special */
    .gd {
        color: var(--syntax-error)
    }

    /* Generic.Deleted */
    .ge {
        font-style: italic
    }

    /* Generic.Emph */
    .gr {
        color: var(--syntax-background);
        background-color: var(--syntax-error);
    }

    /* Generic.Error */
    .gh {
        color: var(--syntax-accent)
    }

    /* Generic.Heading */
    .gi {
        color: var(--syntax-string)
    }

    /* Generic.Inserted */
    .go {
        color: var(--syntax-foreground)
    }

    /* Generic.Output */
    .gp {
        color: var(--syntax-foreground)
    }

    /* Generic.Prompt */
    .gs {
        font-weight: bold
    }

    /* Generic.Strong */
    .gu {
        color: var(--syntax-foreground)
    }

    /* Generic.Subheading */
    .gt {
        color: var(--syntax-background);
        background-color: var(--syntax-error);
    }

    /* Generic.Traceback */
    .kc {
        color: var(--syntax-keyword)
    }

    /* Keyword.Constant */
    .kd {
        color: var(--syntax-keyword)
    }

    /* Keyword.Declaration */
    .kn {
        color: var(--syntax-operator)
    }

    /* Keyword.Namespace */
    .kp {
        color: var(--syntax-keyword)
    }

    /* Keyword.Pseudo */
    .kr {
        color: var(--syntax-keyword)
    }

    /* Keyword.Reserved */
    .kt {
        color: var(--syntax-keyword)
    }

    /* Keyword.Type */
    // .ld { color: #93a1a1 } /* Literal.Date */
    .m {
        color: var(--syntax-constant)
    }

    /* Literal.Number */
    .s {
        color: var(--syntax-constant)
    }

    /* Literal.String */
    .na {
        color: var(--syntax-entity)
    }

    /* Name.Attribute */
    .nb {
        color: var(--syntax-entity)
    }

    /* Name.Builtin */
    .nc {
        color: var(--syntax-func)
    }

    /* Name.Class */
    .no {
        color: var(--syntax-constant)
    }

    /* Name.Constant */
    .nd {
        color: var(--syntax-func)
    }

    /* Name.Decorator */
    .ni {
        color: var(--syntax-entity)
    }

    /* Name.Entity */
    .ne {
        color: var(--syntax-func)
    }

    /* Name.Exception */
    .nf {
        color: var(--syntax-func)
    }

    /* Name.Function */
    .nl {
        color: var(--syntax-entity)
    }

    /* Name.Label */
    .nn {
        color: var(--syntax-entity)
    }

    /* Name.Namespace */
    // .nx { color: #93a1a1 } /* Name.Other */
    // .py { color: #93a1a1 } /* Name.Property */
    .nt {
        color: var(--syntax-tag)
    }

    /* Name.Tag */
    .nv {
        color: var(--syntax-entity)
    }

    /* Name.Variable */
    .ow {
        color: var(--syntax-operator)
    }

    /* Operator.Word */
    .w {
        color: var(--syntax-entity)
    }

    /* Text.Whitespace */
    .mf {
        color: var(--syntax-constant)
    }

    /* Literal.Number.Float */
    .mh {
        color: var(--syntax-constant)
    }

    /* Literal.Number.Hex */
    .mi {
        color: var(--syntax-constant)
    }

    /* Literal.Number.Integer */
    .mo {
        color: var(--syntax-constant)
    }

    /* Literal.Number.Oct */
    .sb {
        color: var(--syntax-string)
    }

    /* Literal.String.Backtick */
    .sc {
        color: var(--syntax-string)
    }

    /* Literal.String.Char */
    .sd {
        color: var(--syntax-string)
    }

    /* Literal.String.Doc */
    .s2 {
        color: var(--syntax-string)
    }

    /* Literal.String.Double */
    .se {
        color: var(--syntax-constant)
    }

    /* Literal.String.Escape */
    .sh {
        color: var(--syntax-string)
    }

    /* Literal.String.Heredoc */
    .si {
        color: var(--syntax-string)
    }

    /* Literal.String.Interpol */
    .sx {
        color: var(--syntax-string)
    }

    /* Literal.String.Other */
    .sr {
        color: var(--syntax-regexp)
    }

    /* Literal.String.Regex */
    .s1 {
        color: var(--syntax-string)
    }

    /* Literal.String.Single */
    .ss {
        color: var(--syntax-tag)
    }

    /* Literal.String.Symbol */
    .s {
        color: var(--syntax-string)
    }

    /* Literal.String */
    .bp {
        color: var(--syntax-entity)
    }

    /* Name.Builtin.Pseudo */
    .vc {
        color: var(--syntax-entity)
    }

    /* Name.Variable.Class */
    .vg {
        color: var(--syntax-entity)
    }

    /* Name.Variable.Global */
    .vi {
        color: var(--syntax-entity)
    }

    /* Name.Variable.Instance */
    .il {
        color: var(--syntax-constant)
    }

    /* Literal.Number.Integer.Long */
}

@media (prefers-color-scheme: dark) {
    pre.highlight {

        --syntax-accent: #e6b450;
        --syntax-background: #0a0e14;
        --syntax-foreground: #b3b1ad;
        --syntax-ui: #3d424d;
        --syntax-tag: #39bae6;
        --syntax-func: #ffb454;
        --syntax-entity: #59c2ff;
        --syntax-string: #c2d94c;
        --syntax-regexp: #95e6cb;
        --syntax-markup: #f07178;
        --syntax-keyword: #ff8f40;
        --syntax-special: #e6b673;
        --syntax-comment: #626a73;
        --syntax-constant: #ffee99;
        --syntax-operator: #f29668;
        --syntax-error: #ff3333;

    }
}

pre.highlight * {
    -webkit-font-feature-settings: "case" 0, "liga" 0, "dlig" 0;
    -moz-font-feature-settings: "case" 0, "liga" 0, "dlig" 0;
    -o-font-feature-settings: "case" 0, "liga" 0, "dlig" 0;
    font-feature-settings: "case" 0, "liga" 0, "dlig" 0;
}
